<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .box{
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }

    .fav {
        background: blueviolet;
    }
    </style>
</head>
<body>
    <h1>Suuup Ma'Dude</h1>
    <div id="app">
        <div v-if="showBooks">
        <ul>
            <!--Iteração, for loop-->
            <li v-for="book in books" :class="{ fav: book.isFav }" @click="toggleFav(book)">
                <h3>{{ book.title }}</h3>
                <p> {{ book.author }} </p>
            </li>
        </ul>
        </div>

        <p>{{number}}</p>
        <button v-on:click="number++">Increase number</button>
        <button v-on:click="number--">Decrease number</button>

        <div @click="changeTitle('biblia')">The div qué clicavel</div>
       
    
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <p v-show="showBooks">Look at this boooooks</p>
        <p v-show="!showBooks">Where did the books go?!</p>
        
        <br>
        <!--mouse events-->
        <div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">Double Click</div>
        <div class="box" @mousemove="handleMousemove" >position - {{x}} {{y}}</div>


    </div>


    <script src="app.js"></script>
    
</body>
</html>